main{
    margin-top: 5%;
}
.navbar-brand{
    margin-left: 8%;
}
.navbar-brand img{
    width:150px !important;
}
.navbar-main{
    background: rgba(3, 77, 227, 1);
    background: -moz-linear-gradient(left, rgba(3, 77, 227, 1) 0, rgba(0, 142, 250, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, rgba(3, 77, 227, 1)), color-stop(100%, rgba(0, 142, 250, 1)));
    background: -webkit-linear-gradient(left, rgba(3, 77, 227, 1) 0, rgba(0, 142, 250, 1) 100%);
    background: -o-linear-gradient(left, rgba(3, 77, 227, 1) 0, rgba(0, 142, 250, 1) 100%);
    background: -ms-linear-gradient(left, rgba(3, 77, 227, 1) 0, rgba(0, 142, 250, 1) 100%);
    background: linear-gradient(to right, rgba(3, 77, 227, 1) 0, rgba(0, 142, 250, 1) 100%);
}
#myProducts .img-cart {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.card-product p{
    margin-bottom: .2rem;
    text-align: center;
}
#cart-list i {
    font-size: 1.5em;
}
#qty-items{
    vertical-align: top;
}
.cart-icon{
    color:whitesmoke;
    margin-left: 10px;
    float: right;
    cursor: pointer;
}
.tbl-cart .img-thumbnail{
    width: 100px !important;
}
.tbl-cart select.item-qty{
    min-width: 60px;
}
.slick-dots li button:before {
    font-size: 40px !important;
}
.slick-dots li.slick-active button:before {
    color: #025ee9 !important;
}
.carouselProducts{
    margin-top: 5%;
}
footer{
    margin-top: 50px;
}
.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 39px;
    padding: 21px;
    background-color: #0069d9;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
    height: 3000px
}




